<section id="about">
  <div class="container about-container">
    <h2 class="benefits-header">About This Game</h2>
    <p class="benefits-desc">
      Water Splash is a fun and challenging match-3 puzzle game where players
      match water-themed items like balloons, fish, and more to clear levels and
      make a splash! With hundreds of levels, stunning graphics, and regular
      updates, this game will keep you entertained for hours. Explore beautiful
      water landscapes, use powerful boosters, and beat the toughest puzzles as
      you advance through each level.
    </p>
    <img class="about-img" src="./img/about.png" alt="Game interface example" />
  </div>
</section>
