<section>
  <div class="container benefits-container">
    <h1 class="benefits-header">Benefits</h1>
    <p class="benefits-desc">
      "Dive into fun-filled puzzles and make a splash in Water Splash!"
    </p>
    <div class="benefits-points">
      <div class="point">
        <svg class="header-menu-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-cloud"></use>
        </svg>
        <p class="point-desc">Online/Offline</p>
      </div>
      <div class="point">
        <svg class="header-menu-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-star"></use>
        </svg>
        <p class="point-desc">4.7</p>
      </div>
      <div class="point">
        <svg class="header-menu-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-arrow"></use>
        </svg>
        <p class="point-desc">10000 +</p>
      </div>
      <div class="point">
        <svg class="header-menu-icon" width="40" height="40">
          <use href="./img/icons.svg#icon-info"></use>
        </svg>
        <p class="point-desc">3.00+</p>
      </div>
    </div>
    <p class="benefits-desc">
      Play anytime, anywhere without an internet connection
    </p>
  </div>
</section>
