<section id="benefits">
  <div class="container benefits-container">
    <h2 class="benefits-header">Benefits</h2>
    <p class="benefits-desc">
      "Dive into fun-filled puzzles and make a splash in Water Splash!"
    </p>
    <div class="benefits-points">
      <div class="point">
        <svg class="cloud-icon">
          <use href="./img/sprite.svg#icon-cloud"></use>
        </svg>
        <p class="point-desc">Online/Offline</p>
      </div>
      <div class="point">
        <svg class="star-icon">
          <use href="./img/sprite.svg#icon-star"></use>
        </svg>
        <p class="point-desc">4.7</p>
      </div>
      <div class="point">
        <svg class="arrow-icon">
          <use href="./img/sprite.svg#icon-arrow"></use>
        </svg>
        <p class="point-desc">10000 +</p>
      </div>
      <div class="point">
        <svg class="info-icon">
          <use href="./img/sprite.svg#icon-info"></use>
        </svg>
        <p class="point-desc">3.00+</p>
      </div>
    </div>
    <p class="benefits-desc">
      Play anytime, anywhere without an internet connection
    </p>
  </div>
</section>
