<section id="faq" class="container faq">
  <h2>FAQ</h2>
  <ul class="faq-list">
    <li class="faq-item">
      <h3 class="faq-name">How do I start playing Water Splash?</h3>
      <p class="faq-text">Download from the Play Store and press 'Play'.</p>
    </li>

    <li class="faq-item">
      <h3 class="faq-name">Is this game free?</h3>
      <p class="faq-text">Yes, but it offers optional in-app purchases.</p>
    </li>

    <li class="faq-item">
      <h3 class="faq-name">Can I play with friends?</h3>
      <p class="faq-text">
        Yes, you can connect with friends, compare progress, and compete on the
        leaderboard.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="faq-name">How often are new levels added?</h3>
      <p class="faq-text">
        New levels and challenges are added regularly with updates.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="faq-name">What are boosters, and how do I get them?</h3>
      <p class="faq-text">
        Boosters can be earned by completing challenges or purchased in-game to
        help clear tough levels.
      </p>
    </li>
    <li class="faq-item">
      <h3 class="faq-name">Can I play without an internet connection?</h3>
      <p class="faq-text">Yes, Water Splash supports offline play.</p>
    </li>
  </ul>
</section>
