<section class="container gallery" id="gallery">
  <h2>Gallery</h2>
  <ul class="gallery-list">
    <li>
      <picture>
        <source
          srcset="./img/gallery/water.webp 1x, ./img/gallery/water@2x.webp 2x"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./img/gallery/water-desktop.webp    1x,
            ./img/gallery/water-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <img class="gallery-item" src="./img/gallery/water.webp" alt="water" />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="./img/gallery/splash.webp 1x, ./img/gallery/splash@2x.webp 2x"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./img/gallery/splash-desktop.webp    1x,
            ./img/gallery/splash-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <img
          class="gallery-item"
          src="./img/gallery/splash.webp"
          alt="splash"
        />
      </picture>
    </li>
    <li>
      <picture>
        <source
          srcset="./img/gallery/dail.webp 1x, ./img/gallery/dail@2x.webp 2x"
          media="(max-width: 1199px)"
        />
        <source
          srcset="
            ./img/gallery/dail-desktop.webp    1x,
            ./img/gallery/dail-desktop@2x.webp 2x
          "
          media="(min-width: 1200px)"
        />
        <img class="gallery-item" src="./img/gallery/dail.webp" alt="dail" />
      </picture>
    </li>
  </ul>
  <p class="gallery-text">
    "Make waves and have fun solving puzzles in Water Splash!"
  </p>
</section>
