<div class="container hero-container">
  <a
    class="google-butt"
    href="https://play.google.com/store/apps/details?id=com.cookapps.watersplash"
  >
    <img src="./img/googleplay.png" alt="Download" />
  </a>
  <div class="image-block">
    <img
      src="./img/Galaxy Tab S8 Ultra.png"
      alt="Game picture 'Water Splash'"
    />
    <p class="desc">
      TOPJOYSAGA.COM IS A PLATFORM FOR ENTERTAINMENT. THE PROBABILITY OF WINNING
      IN THIS GAME DOES NOT TRANSLATE TO REAL-WORLD SUCCESS. ENJOY RESPONSIBLY.
    </p>
  </div>
</div>
