<section class="container how-to-play">
  <h2>How to play</h2>
  <ul class="how-to-play-list">
    <li>
      <div class="how-to-play-item">
        <picture>
          <source
            srcset="
              ./img/how-to-play/blast.webp    1x,
              ./img/how-to-play/blast@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/how-to-play/blast-desktop.webp    1x,
              ./img/how-to-play/blast-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./img/how-to-play/blast.webp"
            alt="blast illustration"
            loading="lazy"
          />
        </picture>
        <p class="how-to-play-text">
          Match Water-Themed Items: Match three or more water balloons or other
          items to clear them from the board.
        </p>
      </div>
    </li>
    <li>
      <div class="how-to-play-item">
        <picture>
          <source
            srcset="
              ./img/how-to-play/save.webp    1x,
              ./img/how-to-play/save@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/how-to-play/save-desktop.webp    1x,
              ./img/how-to-play/save-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./img/how-to-play/save.webp"
            alt="save illustration"
            loading="lazy"
          />
        </picture>
        <p class="how-to-play-text">
          Earn Stars: Complete levels with fewer moves to earn more stars.
        </p>
      </div>
    </li>
    <li>
      <div class="how-to-play-item">
        <picture>
          <source
            srcset="
              ./img/how-to-play/defeat.webp    1x,
              ./img/how-to-play/defeat@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/how-to-play/blast-desktop.webp    1x,
              ./img/how-to-play/blast-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./img/how-to-play/defeat.webp"
            alt="defeat illustration"
            loading="lazy"
          />
        </picture>
        <p class="how-to-play-text">
          Complete Objectives: Each level has a unique goal—complete it to
          advance.
        </p>
      </div>
    </li>
    <li>
      <div class="how-to-play-item">
        <picture>
          <source
            srcset="
              ./img/how-to-play/match.webp    1x,
              ./img/how-to-play/match@2x.webp 2x
            "
            media="(max-width: 1199px)"
          />
          <source
            srcset="
              ./img/how-to-play/blast-desktop.webp    1x,
              ./img/how-to-play/blast-desktop@2x.webp 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./img/how-to-play/match.webp"
            alt="match illustration"
            loading="lazy"
          />
        </picture>
        <p class="how-to-play-text">
          Use Boosters: Unlock special boosters to help you clear difficult
          levels.
        </p>
      </div>
    </li>
  </ul>
  <p class="how-to-play-text how-to-play-call">
    Unlock New Challenges: As you progress, face new obstacles and challenges,
    keeping the gameplay fresh
  </p>
</section>
