<section id="reviews" class="container reviews">
  <h2>Reviews</h2>
  <ul class="reviews-list">
    <li>
      <div class="reviews-item-wrapper">
        <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
        <div>
          <h3 class="reviews-title">BubbleSplashPro</h3>
          <p class="reviews-comment">
            "I love how relaxing the game is while still being challenging!"
          </p>
        </div>
        <div class="reviews-item-avtor">
          <picture>
            <source
              srcset="./img/reviews/emma.png 1x, ./img/reviews/emma@2x.png 2x"
            />
            <img
              src="./img/reviews/emma.png"
              alt="emma illustration"
              loading="lazy"
              width="40px"
            />
          </picture>
          <div class="reviews-info">
            <h3 class="reviews-name">Reviewer Emma</h3>
            <p class="reviews-date">22.11.24</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="reviews-item-wrapper">
        <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
        <div>
          <h3 class="reviews-title">OceanPuzzleFan</h3>
          <p class="reviews-comment">
            "Each level brings new challenges, making the game feel fresh and
            exciting.""
          </p>
        </div>
        <div class="reviews-item-avtor">
          <picture>
            <source
              srcset="./img/reviews/sofia.png 1x, ./img/reviews/sofia@2x.png 2x"
            />
            <img
              src="./img/reviews/sofia.png"
              alt="sofia illustration"
              loading="lazy"
              width="40px"
            />
          </picture>
          <div class="reviews-info">
            <h3 class="reviews-name">Reviewer Sophia</h3>
            <p class="reviews-date">10.07.23</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="reviews-item-wrapper">
        <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
        <div>
          <h3 class="reviews-title">WaveCrushQueen</h3>
          <p class="reviews-comment">
            "The boosters are amazing! They help me clear even the toughest
            puzzles."
          </p>
        </div>
        <div class="reviews-item-avtor">
          <picture>
            <source
              srcset="./img/reviews/mia.png 1x, ./img/reviews/mia@2x.png 2x"
            />
            <img
              src="./img/reviews/mia.png"
              alt="mia illustration"
              loading="lazy"
              width="40px"
            />
          </picture>
          <div class="reviews-info">
            <h3 class="reviews-name">Reviewer Mia</h3>
            <p class="reviews-date">15.05.24</p>
          </div>
        </div>
      </div>
    </li>
    <li class="reviews-desctop">
      <div class="reviews-item-wrapper">
        <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
        <div>
          <h3 class="reviews-title">PuzzleWave</h3>
          <p class="reviews-comment">
            "Addictive and fun. <br />
            I can't stop playing!"
          </p>
        </div>
        <div class="reviews-item-avtor">
          <picture>
            <source
              srcset="./img/reviews/angus.png 1x, ./img/reviews/angus@2x.png 2x"
            />
            <img
              src="./img/reviews/angus.png"
              alt="angus illustration"
              loading="lazy"
              width="40px"
            />
          </picture>
          <div class="reviews-info">
            <h3 class="reviews-name">Reviewer Angus</h3>
            <p class="reviews-date">12.06.24</p>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="reviews-item-wrapper">
        <ul class="reviews-stars">
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
          <li>
            <svg
              class="icon-star-reviews"
              width="20"
              height="20"
              aria-label="star"
            >
              <use href="./img/sprite.svg#icon-star-reviews"></use>
            </svg>
          </li>
        </ul>
        <h3 class="reviews-title">SplashMaster</h3>
        <p class="reviews-comment">
          "The water graphics are so refreshing! I love the variety of levels."
        </p>
        <div class="reviews-item-avtor">
          <picture>
            <source
              srcset="
                ./img/reviews/andria.png    1x,
                ./img/reviews/andria@2x.png 2x
              "
            />
            <img
              src="./img/reviews/andria.png"
              alt="andria illustration"
              loading="lazy"
              width="40px"
            />
          </picture>
          <div class="reviews-info">
            <h3 class="reviews-name">Reviewer Andrea</h3>
            <p class="reviews-date">22.11.24</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</section>
