.benefits-container {
  padding: 60px 167px 167px 167px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefits-header {
  margin-bottom: 64px;
  font-weight: 400;
  font-size: 64px;
}
.benefits-desc {
  margin-bottom: 64px;
  font-size: 18px;
  max-width: 1017px;
}
.benefits-points {
  background-color: #edd0ee;
  border-radius: 8px;
  display: flex;
  gap: 120px;
  padding: 24px 32px;
  width: fit-content;
  margin: 0 auto 32px;
}
.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.point-desc {
  font-size: 32px;
}
