.benefits-container {
  padding: 60px 60px 40px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media(desktop) {
    padding: 60px 150px 167px 150px;
  }
}
.benefits-header {
  margin-bottom: 20px;
  @include media(desktop) {
    margin-bottom: 64px;
  }
}
.benefits-desc {
  font-size: 12px;
  line-height: 16px;
  width: 250px;
  text-align: center;
  @include media(desktop) {
    width: auto;
    font-size: 18px;
    line-height: 30px;
    text-align: left;
  }
}
.benefits-points {
  background-color: #edd0ee;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
  padding: 12px;
  width: auto;
  @include media(desktop) {
    padding: 24px 32px;
    margin: 64px 0;
    flex-wrap: nowrap;
    gap: 120px;
    width: fit-content;
    justify-content: center;
  }
}
.point {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @include media(desktop) {
    gap: 40px;
  }
}
.point-desc {
  font-size: 12px;
  line-height: 14px;
  @include media(desktop) {
    font-size: 32px;
    line-height: 38px;
  }
}
.cloud-icon {
  fill: #00a0ff;
  width: 32px;
  height: 32px;
  @include media(dektop) {
    width: 40px;
    height: 40px;
  }
}
.star-icon {
  fill: #ffe000;
  width: 32px;
  height: 32px;
  @include media(dektop) {
    width: 40px;
    height: 40px;
  }
}
.arrow-icon {
  fill: #c31162;
  width: 32px;
  height: 32px;
  @include media(dektop) {
    width: 40px;
    height: 40px;
  }
}
.info-icon {
  fill: #32a071;
  width: 32px;
  height: 32px;
  @include media(dektop) {
    width: 40px;
    height: 40px;
  }
}
