.header {
  position: fixed;
  top: 130px;
  width: 100%;
  left: auto;
  display: flex;
  justify-content: center;
  gap: 180px;
  padding: 0 60px 0 72px;
  margin: 0 auto;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1px;
  @include media(desktop) {
    justify-content: flex-end;
  }
}

//залишив як зразок

.nav-link {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: #000000;
  border: 1px solid transparent;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px 20px 10px 20px;
}

.nav-link:hover,
.nav-link:focus {
  border: 1px solid white;
}
