.container {
  width: calc(100% - 24px);
  margin: 0 auto;
  background-color: #83cff1;
}
.hero-container {
  padding: 158px 80px 176px 80px;
  display: flex;
  align-items: center;
  gap: 144px;
  justify-content: center;
}
.image-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.desc {
  width: 600px;
}
