.terms-paragraph {
  text-align: justify;
}
.terms {
  background-color: white;
  padding: 45px 25px 5px;
}
.terms-button {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.back-icon {
  margin-right: 30px;
  fill: black;
}
